/* MOBILE */
.copyright {
  margin-top: 1rem;
  font-size: 0.75rem;
}
.copyright-2 {
  font-size: 0.75rem;
}
.li-link {
  padding: 1rem 0;
}

.rounded-list {
  counter-reset: li;
  list-style: none;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  margin: 20%;
}

ol a {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 1em;
  margin: 0.5em 0;
  background: #d6d4d1;
  color: #2a2929;
  text-decoration: none;
  border-radius: 0.3em;
  transition: 0.3s ease-out;
}

ol a:hover {
  background: #beb4af;
}
ol a:hover:before {
  transform: rotate(360deg);
}
ol a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #f9dd94;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: 0.3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 0.3s ease-out;
}

.btn {
  margin: 1rem;
  padding: 1rem 3rem;
}
.link-button {
  text-align: center;
  margin: 3%;
}
.navbar {
  margin-bottom: 1rem;
}
.dots {
  --n: 3;
  width: 6.25rem;
  height: 1rem;

  background: radial-gradient(circle closest-side, #ebebeb 98%, #0000) 0 /
    calc(100% / var(--n)) 100%;
  margin: 10% auto;
}
.image-shadow {
  margin: 1rem auto;
  border-radius: 0.5rem;
  width: 100%;
}
.images {
  margin: 1rem auto;
  border-radius: 0.5rem;
  width: 100%;
  box-shadow: 5px 5px 5px 0px rgba(56, 55, 55, 0.75);
}
.about,
.learning,
.head-text {
  border: solid 1px rgb(222, 221, 221);
}
/* NAV */
.navbar {
  border-bottom: solid rgb(205, 205, 205) 0.5px;
}
.navbar-nav {
  margin-left: auto;
}

.nav-icon {
  width: 55px;
}
.nav-item {
  padding-right: 30px;
}

/* HEADER */
.head-container-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 90%;
  margin: auto;
  background-color: #ededed;
  border-radius: 2.5rem;
  border: solid 2px gray;
  padding-top: 5%;
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/370/771/small_2x/abstract-colorful-triangles-with-patterns-and-gradients-on-a-grid-80s-background-free-vector.jpg);
}
.h-grid-img1 {
  grid-area: 1/1/4/4;
  justify-self: end;
  border: solid 1px rgb(192, 192, 192);
}
.h-grid-img2 {
  grid-area: 1/5/4/8;
  border: solid 1px rgb(192, 192, 192);
}
.h-grid-img3 {
  grid-area: 3/3/6/6;
  justify-self: center;
  order: 1;
  object-fit: cover;
  width: 100%;
  border: solid 1px rgb(192, 192, 192);
}
.h-grid-img4 {
  grid-area: 5/1/8/4;
  justify-self: end;
  border: solid 1px rgb(192, 192, 192);
}
.h-grid-img5 {
  grid-area: 5/5/8/8;
  border: solid 1px rgb(192, 192, 192);
}
header {
  text-align: center;
}
.head-text {
  margin: 1rem 2.5rem 1rem 2.5rem;
  padding: 1.5rem;
  background-color: #eff1e9;
  border-radius: 0.3rem;
}

h1 {
  font-size: 3rem;
  margin: 1rem 0 1rem 1rem;
}
p {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
}
.head-img {
  margin: 2rem 0.75;
  background-color: #d4f1f4;
  border-radius: 0.5rem;
  width: 75%;
  box-shadow: 5px 5px 5px 0px rgba(56, 55, 55, 0.75);
}
.dev-academy:hover {
  font-style: italic;
}
/* BODY */
.link-body {
  margin: 0 5%;
  background-color: aliceblue;
  border-radius: 1rem;
}
.learning {
  background-color: #d4eaee;
  text-align: center;
  margin: 1rem 2.5rem 1rem 2.5rem;
  padding: 1.5rem;
  border-radius: 0.3rem;
}
.about {
  background-color: #eff1e9;
  text-align: center;
  margin: 1rem 2.5rem 1rem 2.5rem;
  padding: 1.5rem;
  border-radius: 0.3rem;
}
/* FOOTER */
footer {
  background-color: #d4eaee;
  padding: 1rem 0 0.5rem 0;
  border-top: solid 1px rgb(222, 221, 221);
}

.contact-img {
  width: 3rem;
  padding: 0.5rem;
}

.icons,
.contact {
  text-align: center;
  padding: 1rem;
}

ul {
  padding: 0;
  margin-bottom: 0;
}

/* LAPTOP 1024 */
@media (min-width: 1023px) {
  .head-img {
    margin: 1rem 0.75rem;
    background-color: #d4f1f4;
    border-radius: 0.5rem;
    width: 75%;
    box-shadow: 5px 5px 5px 0px rgba(56, 55, 55, 0.75);
  }
  .link-body {
    margin: 0 20%;
    background-color: aliceblue;
    border-radius: 1rem;
  }
  .images {
    margin: 1rem auto;
    border-radius: 0.5rem;
    width: 100%;
    box-shadow: 5px 5px 5px 0px rgba(56, 55, 55, 0.75);
  }
  .image-shadow {
    margin: 1rem auto;
    border-radius: 0.5rem;
    width: 100%;
  }

  hr {
    margin: auto;
    width: 50%;
  }
  .head-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3.5rem;
    height: 100%;
  }
  .grid-img-1 {
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 3;
    grid-column-end: 3;
    align-self: center;
  }

  .grid-p-1 {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
    text-align: left;
  }
  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 3.5rem;
    align-items: center;
  }
  .grid-img-2 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
  }
  p {
    line-height: 1.5;
  }
  .about-txt {
    text-align: left;
  }
  .head-text,
  .learning,
  .about {
    margin: 0 5rem 0 5rem;
  }
  ol a {
    position: relative;
    display: block;
    padding: 0.4em 0.4em 0.4em 2em;
    margin: 0.5em 0;
    background: #d6d4d1;
    color: #2a2929;
    text-decoration: none;
    border-radius: 0.3em;
    transition: 0.3s ease-out;
  }
}
/* LAPTOP 1440 & ABOVE*/
@media (min-width: 1440px) {
  header,
  section {
    margin: 0 12.5%;
  }
  .head-text {
    align-items: center;
  }
  .div-goal {
    padding: 1rem 5rem;
  }
  .grid-p-1 {
    padding: 0 3rem;
  }
  .grid-p-2 {
    padding: 0 3rem;
  }
  .navbar {
    margin-bottom: 3rem;
  }
  .dots {
    --n: 5;
    width: 10.25rem;
    height: 1rem;

    background: radial-gradient(circle closest-side, #ebebeb 98%, #0000) 0 /
      calc(100% / var(--n)) 100%;
    margin: 5% auto;
  }
}

/* HTML-CSS.html STYLES */
.html-css-styles {
  margin: 10%;
  padding: 3rem;
  text-align: center;
  border: solid rgb(221, 219, 219) 1px;
}
#html-css-h1 {
  text-align: center;
  margin-bottom: 3rem;
}
.html-css-h2 {
  margin: 2rem 0;
}

.html-css-img {
  display: block;
  width: 40%;
  margin: 0 auto 3rem auto;
  box-shadow: 10px 10px 5px 0px rgba(56, 55, 55, 0.75);
  border: solid rgb(221, 219, 219) 1px;
}
.no-bullet {
  list-style: none;
}
@media (max-width: 425px) {
  .html-css-img {
    display: block;
    width: 80%;
    margin: 0 auto 3rem auto;
    box-shadow: 10px 10px 5px 0px rgba(56, 55, 55, 0.75);
  }
}
@media (max-width: 320px) {
  #html-css-h1 {
    font-size: 2rem;
  }
}
/* Te-Houtaewa */
.te-houtaewa-div {
  margin: 7% 15%;
}

/* Neuroplasticity & Growth Mindset STYLES */

.neuro-styles {
  margin: 10%;
  padding: 3rem;
  text-align: center;
  border: solid rgb(221, 219, 219) 1px;
}
#neuro-h1 {
  text-align: center;
  margin-bottom: 3rem;
}
.neuro-h2 {
  margin: 2rem 0;
}
.neuro-p {
  margin: auto 20%;
}
.neuro-link {
  margin: 2% auto;
}
.neuro-img {
  width: 60%;
  margin: 3% auto 3rem auto;
  box-shadow: 10px 10px 5px 0px rgba(56, 55, 55, 0.75);
  border: solid rgb(221, 219, 219) 1px;
  border-radius: 1rem;
}
.neuro-img-round {
  width: 60%;
  margin: 3% auto 3rem auto;
  box-shadow: 10px 10px 5px 0px rgba(56, 55, 55, 0.75);
  border: solid rgb(221, 219, 219) 1px;
  border-radius: 100%;
}

@media (max-width: 425px) {
  .neuro-nav-text {
    font-size: 0.9;
  }
  .neuro-img {
    width: 100%;
    margin: 0 auto 5% auto;
    box-shadow: 10px 10px 5px 0px rgba(56, 55, 55, 0.75);
    border-radius: 1rem;
  }
  .neuro-img-round {
    width: 100%;
    margin: 3% auto 3% auto;
    box-shadow: 10px 10px 5px 0px rgba(56, 55, 55, 0.75);
    border: solid rgb(221, 219, 219) 1px;
    border-radius: 100%;
  }
  .neuro-h1 {
    font-size: 2rem;
  }
  .neuro-p {
    margin: auto;
  }
  .neuro-link {
    margin: 10% auto;
  }
}

@media (max-width: 320px) {
  .neuro-nav-text {
    font-size: 0.9rem;
  }
  .neuro-h1 {
    font-size: 1.5rem;
  }
  .neuro-p {
    margin: 0;
  }
  .neuro-img {
    width: 100%;
    margin: 0 auto 5% auto;
    box-shadow: 10px 10px 5px 0px rgba(56, 55, 55, 0.75);
    border-radius: 1rem;
  }
  .neuro-img-round {
    width: 100%;
    margin: 3% auto 3% auto;
    box-shadow: 10px 10px 5px 0px rgba(56, 55, 55, 0.75);
    border: solid rgb(221, 219, 219) 1px;
    border-radius: 100%;
  }
  .neuro-link {
    margin: 10% auto;
  }
}

/* Learning Plan STYLES */
.blog-section {
  margin: 3% 20%;
  padding: 3rem;
  border: solid rgb(221, 219, 219) 1px;
}

.blog-section-ul,
.blog-section {
  margin-bottom: 5%;
}
@media (max-width: 425px) {
  .blog-section {
    margin: 3% 5%;
    padding: 3rem;
    border: solid rgb(221, 219, 219) 1px;
  }
  .blog-section-h1 {
    text-align: center;
  }
}
/* JavaScript-DOM STYLES */
.js-dom-h4 {
  margin-bottom: 2rem;
}
.js-dom-p {
  margin-bottom: 1.5rem;
}
.js-dom-img {
  width: 50%;
  margin: auto;
  border: solid rgb(20, 127, 139) 5px;
  padding: 3%;
  border-radius: 5rem;
  background-color: #4a4a4a;
}
.js-dom-examples {
  border-radius: 1rem;
  border: solid rgb(207, 207, 207) 2px;
  margin: 3% auto;
  width: 80%;
  display: block;
}
@media (max-width: 1440px) {
  .js-dom-examples {
    border-radius: 1rem;
    border: solid rgb(207, 207, 207) 2px;
    margin: 3% auto;
    width: 100%;
    display: block;
  }
}
@media (max-width: 425px) {
  .js-dom-img {
    width: 50%;
    margin: auto;
    border: solid rgb(20, 127, 139) 5px;
    padding: 3%;
    border-radius: 2rem;
    background-color: #4a4a4a;
  }
  body {
    text-align: center;
  }
}
/* 
Identity-Values 
Learning-Plan
Emotional-Intelligence
STYLES*/
.blog-section {
  margin: 3% 20%;
  padding: 3rem;
  border: solid rgb(221, 219, 219) 1px;
}
.blog-section-h1,
.blog-section-ul {
  margin-bottom: 5%;
}
@media (max-width: 769px) {
  .blog-section-h1 {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .blog-section {
    margin: 3% 5%;
    padding: 3rem;
    border: solid rgb(221, 219, 219) 1px;
  }
}
/*  te-whare-tapa-wha STYLES*/
.te-whare-h2 {
  margin-bottom: 2rem;
}
.te-whare-img {
  width: 100%;
  margin: 3% auto 3rem auto;
  box-shadow: 10px 10px 5px 0px rgba(56, 55, 55, 0.75);
  border: solid rgb(221, 219, 219) 1px;
  border-radius: 1rem;
}
.te-whare-styles {
  margin: 10%;
  padding: 3rem;
  text-align: center;
  border: solid rgb(221, 219, 219) 1px;
}
.te-whare-p {
  margin: auto 0;
  margin-bottom: 2rem;
}
.te-whare-img-p {
  width: 100%;
  margin: 3% auto 0 auto;
  box-shadow: 10px 10px 5px 0px rgba(56, 55, 55, 0.75);
  border: solid rgb(221, 219, 219) 1px;
  border-radius: 1rem;
}
@media (min-width: 1024px) {
  .te-whare-img {
    width: 60%;
    margin: 3% auto 3rem auto;
    box-shadow: 10px 10px 5px 0px rgba(56, 55, 55, 0.75);
    border: solid rgb(221, 219, 219) 1px;
    border-radius: 1rem;
  }
  .te-whare-p {
    margin: auto 20%;
    font-size: 1.2rem;
  }
  .te-whare-img-p {
    width: 30%;
    margin: 3% auto 0 auto;
    box-shadow: 10px 10px 5px 0px rgba(56, 55, 55, 0.75);
    border: solid rgb(221, 219, 219) 1px;
    border-radius: 1rem;
  }
  .te-whare-intro {
    margin: auto 20%;
    font-size: 1.2rem;
    padding-bottom: 5%;
  }
}
